<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Frage 4: In welchem Bundesland leben Sie?</h2>
    <select name="state">
        <option value="NRW">Nordrhein-Westfalen</option>
        <option value="Hessen">Hessen</option>
        <option value="Saarland">Saarland</option>
        <option value="Thüringen">Thüringen</option>
        <option value="Hamburg">Hamburg</option>
        <option value="Schleswig-Holstein">Schleswig-Holstein</option>
        <option value="Bremen">Bremen</option>
        <option value="Rheinlandpfalz">Rheinland-Pfalz</option>
        <option value="Niedersachsen">Niedersachsen</option>
        <option value="Berlin">Berlin</option>
        <option value="Bayern">Bayern</option>
        <option value="Sachsen">Sachsen</option>
        <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
        <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
        <option value="Brandenburg">Brandenburg</option>
    </select>
    <script src="calc.js"></script>
</body>
</html>