<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Frage 3: Wie lange soll der Imagefilm sein?</h2>
    <label>
        <input type="radio" name="cameras" value="1"> 1 Kamera
    </label>
    <label>
        <input type="radio" name="cameras" value="2"> 2 Kameras
    </label>
    <label>
        <input type="radio" name="cameras" value="3"> 3 Kameras
    </label>
    <form action="/umleitungcameras" method="post">
        <button type="submit" class="btn">Weiter</button>
    </form>
    <script src="calc.js"></script>
</body>
</html>