<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Frage 3: Wie lange soll der Imagefilm sein?</h2>
    <label>
        <input type="radio" name="duration" value="2min"> 2 Minuten
    </label>
    <label>
        <input type="radio" name="duration" value="3min"> 3 Minuten
    </label>
    <label>
        <input type="radio" name="duration" value="4min"> 4 Minuten
    </label>
    <form action="/umleitungduration" method="post">
        <button type="submit" class="btn">Weiter</button>
    </form>
    <script src="calc.js"></script>
</body>
</html>