<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Kosten für ein Produktvideo</h2>
    <div>
        <p>
          30 sekunden Produktvideo kosten 750,00€  
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/T9CWBv-C7eY?si=q6YoCGhdNfYF9xFc" 
         title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
         allowfullscreen>
        </iframe>
    </div>
    <script src="calc.js"></script>
</body>
</html>