<!DOCTYPE html>
<html>
<head>
    <title>Preiskalkulator</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <form id="calculator-form">
        <h2>Frage 1: An welchem Produkt sind Sie interessiert?</h2>
        <label>
            <input type="radio" name="product" id="imagefilm" value="Imagefilm"> Imagefilm
        </label>
        <label>
            <input type="radio" name="product" id="recruitingfilm" value="Recruitingfilm"> Recruitingfilm
        </label>
        <label>
            <input type="radio" name="product" id="produktvideo" value="Produktvideo"> Produktvideo
        </label>
        <label>
            <input type="radio" name="product" id="videopodcast" value="Videopodcast"> Videopodcast
        </label>
        </div>

        <button type="submit" class="btn">Berechnen</button>
    </form>

    <div id="result">
        <!-- Hier wird das Ergebnis angezeigt -->
    </div>

    <script src="calc.js"></script>
</body>
</html>
