<!DOCTYPE html>
<html>
<head>
    <title>Preiskalkulator</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h2>Soll der Imagefilm interviewbasiert sein oder synchronisiert?</h2>
    <label>
        <input type="radio" name="type" value="interviewbasiert"> Interviewbasiert
    </label>
    <label>
        <input type="radio" name="type" value="synchronisiert"> Synchronisiert
    </label>

    <script src="calc.js"></script>
</body>
</html>
